@import "styles/variables";

.card {
  transform: rotateZ(-1deg);
  border: 2px solid $brandDarkBlue;
  margin: 15px;
}

.content {
  background: $brandWhite;
  border: 2px solid $brandDarkBlue;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: relative;
  top: -40px;
  left: -10px;
}

.info {
  padding: 16px;
}

.info h4 {
  margin: 4px 0;
  text-transform: uppercase;
  color: $brandDarkBlue;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.actions a {
  color: $brandWhite;
  background-color: $brandOrange;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.actions a:hover {
  transform: scale(1.2);
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.1);
}
