@import "styles/variables";
@import "styles/mixins";

.cardContainer {
  transform: rotateZ(-1deg);
  border: 0.2rem solid $brandDarkBlue;
  margin: 1.5rem 0;
  background-color: $brandCardBg;

  @include media {
    width: 30rem;
    &:hover {
      transform: rotateZ(1deg);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.cardImageContainer {
  &:hover {
    @include floatingAnimation(floating, 0, 2rem, -0);

    @include media {
      @include floatingAnimation(floating, 0, 1.5rem, -0);
    }
  }
}

.cardImage {
  filter: drop-shadow(0px 1.6rem 1rem $brandSneakerShadow);
}

.cardTitleContainer {
  background: $brandWhite;
  border: 0.2rem solid $brandDarkBlue;
  box-shadow: 0.2rem 0.3rem 0.5rem #555;
  position: relative;
  top: -4rem;
  left: -1rem;
}

.cardTitle {
  text-transform: uppercase;
  color: $brandDarkBlue;

  @include media {
    font-size: 1.4rem;
    padding: 1.6rem;
  }
}

.cardTitleSingleViewMobile {
  font-size: 1.4rem;
  padding: 1.6rem;
}

.cardTitleDoubleViewMobile {
  font-size: 1rem;
  padding: 0.8rem;
}

.cardTitle,
.cardCallToAction {
  @include media {
    font-size: 1.6rem;
  }
}

.cardCallToAction {
  display: flex;
  justify-content: flex-end;

  a {
    color: $brandWhite;
    background-color: $brandOrange;
    text-align: center;
    text-decoration: none;

    @include media {
      font-size: 1.4rem;
      width: 50%;
      padding: 2rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
        box-shadow: 0.1rem 0.5rem 0.8rem #555;
      }
    }
  }
}

.cardCallToActionSingleViewMobile {
  a {
    font-size: 1.4rem;
    width: 50%;
    padding: 2rem;
  }
}

.cardCallToActionDoubleViewMobile {
  a {
    font-size: 1rem;
    width: 80%;
    padding: 1rem;
  }
}
