@import "styles/variables";
@import "styles/mixins";

.cardContainer {
  transform: rotateZ(-1deg);
  border: 0.2rem solid $brandDarkBlue;
  margin: 1.5rem 0;
}

.cardTitleContainer {
  background: $brandWhite;
  border: 0.2rem solid $brandDarkBlue;
  box-shadow: 0.2rem 0.3rem 0.5rem #555;
  position: relative;
  top: -4rem;
  left: -1rem;
  width: 80%;
}

.cardTitle,
.cardCallToAction {
  font-size: 1.4rem;
}

.cardTitle {
  padding: 1.6rem;
  text-transform: uppercase;
  color: $brandDarkBlue;
}

.cardCallToAction {
  display: flex;
  justify-content: flex-end;

  a {
    color: $brandWhite;
    background-color: $brandOrange;
    padding: 2.4rem;
    width: 50%;
    text-align: center;
    text-decoration: none;

    @include media {
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
        box-shadow: 0.1rem 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
      }
    }
  }
}
