@import "styles/variables";

.sneakerListMobile {
  padding: 0 2rem;
  margin-bottom: 3rem;
  display: grid;
  border: 0.1rem solid orange;

  .singleView {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }

  .doubleView {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
