@import "styles/variables";
@import "styles/mixins";

.sneakerListDesktopContainer {
  padding: 0 4rem;
  margin-bottom: 3rem;
}

.sneakerListDesktop,
.doubleView,
.quadrupleView {
  display: grid;
  gap: 3rem;
}

.doubleView {
  // @include fadeInAnimation(fadeInView);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  padding: 5rem 30rem 0;
}

.quadrupleView {
  // @include fadeInAnimation(fadeInView);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  padding-top: 5rem;
}

.sneakerDisplayViewsContainer {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.sneakerDisplayDoubleView {
  display: flex;
  gap: 0.3rem;
  margin: 0;
  width: 5rem;
  height: 3rem;

  .box {
    width: 100%;
    background-color: $brandGray;
  }

  .selectedSneakerView {
    background-color: $brandOrange;
  }
}

.sneakerDisplayQuadrupleView {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.3rem;
  margin: 0;
  width: 5rem;
  height: 3rem;

  .box {
    width: 100%;
    background-color: $brandGray;
  }

  .selectedSneakerView {
    background-color: $brandOrange;
  }
}
