@import "styles/variables";
@import "styles/mixins";

.sneakersContainer {
  padding: 0 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;

  @include media {
    padding: 0 4rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
