@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");

@mixin media {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin VarelaRoundRegular {
  font-family: "Varela Round", sans-serif;
  font-weight: normal;
}

@mixin NotoRegular {
  font-family: "Noto Serif", sans-serif;
  font-weight: normal;
}

@mixin NotoItalic {
  font-family: "Noto Serif", sans-serif;
  font-weight: normal;
  font-style: italic;
}

@mixin NotoBold {
  font-family: "Noto Serif", sans-serif;
  font-weight: 700;
}

@mixin floatingAnimation($name, $startValue, $middleValue, $endValue) {
  animation-name: $name;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  @at-root {
    @keyframes #{$name} {
      0% {
        transform: translate(0, $startValue);
      }
      50% {
        transform: translate(0, $middleValue);
      }
      100% {
        transform: translate(0, -$endValue);
      }
    }
  }
}

@mixin fadeInAnimation($name) {
  animation-name: $name;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;

  @at-root {
    @keyframes #{$name} {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
