@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Varela+Round&display=swap");
@import "./variables";
@import "./reset";
@import "./mixins";

:root {
  --swiper-theme-color: #ef8354 !important;
}

html {
  // 1 rem === 10px
  font-size: calc(10 / 375 * 100vw);

  @include media {
    font-size: calc(10 / 1440 * 100vw);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  overscroll-behavior-y: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a,
button {
  cursor: pointer;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button,
li,
ul,
button,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  @include VarelaRoundRegular;
}

.site-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;
}

.site-main {
  flex-grow: 1;
}

.site-main,
.site-header,
.site-footer {
  flex-shrink: 0;
}

.site-header {
  text-align: center;
  margin: 2rem 0;
}

.site-header-title-container {
  text-decoration: none;
  color: $brandBlack;
  text-transform: uppercase;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;

  @include media {
    background-image: linear-gradient(
      to right,
      $brandOrange,
      $brandOrange 50%,
      $brandDarkBlue 50%
    );
    background-size: 200% 100%;
    background-position: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-position: 0;
    }
  }
}

.site-header-title {
  span:first-child {
    font-size: 2rem;
    display: block;
  }

  span:last-child {
    color: $brandOrange;
    font-size: 4rem;
  }
}

.site-header-subtitle {
  border: 0.2rem solid $brandDarkBlue;
  color: $brandDarkBlue;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.site-footer {
  @include VarelaRoundRegular;
  background: $brandDarkBlue;
  color: $brandWhite;
  padding: 4rem;
  text-align: center;
  font-size: 1.5rem;

  @include media {
    font-size: 1.8rem;
  }

  a {
    @include NotoBold;
    border-bottom: 0.1rem solid $brandWhite;
    background-color: $brandDarkBlue;
    padding: 0.2rem;
    color: $brandWhite;
    font-family: "Noto Serif", serif;

    @include media {
      padding: 0.5rem;
    }
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  @include media {
    flex: 1;
  }
}

.flex-double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  @include media {
    flex: 2;
  }
}

.swiper-pagination {
  width: 9.6rem;
  height: 0.6rem;
  position: relative;
  bottom: 2.8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}
.swiper-pagination-zoom {
  width: 9.6rem;
  height: 0.6rem;
  position: absolute;
  bottom: 4.8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  display: flex;
  justify-content: space-between;
}

.swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.6rem;
  background-color: $brandGray;
  display: flex;
  border-radius: 100%;
}
.swiper-pagination-bullet-active {
  width: 0.6rem;
  height: 0.6rem;
  background-color: $brandGray;
  display: flex;
  border-radius: 100%;
}

.rc-slider-rail {
  height: 0.2rem !important;
}
.rc-slider-track {
  background-color: black !important;
  height: 0.2rem !important;
}
