@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Varela+Round&display=swap");
@import "./variables";
@import "./reset";
@import "./mixins";

html {
  font-size: calc(10 / 375 * 100vw);

  @include media {
    font-size: calc(10 / 1440 * 100vw);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

a,
button {
  cursor: pointer;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button,
li,
ul,
button,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  @include VarelaRoundRegular;
}

.layout {
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-header {
  text-align: center;
  margin: 60px 0;
}

.site-header a {
  text-decoration: none;
  color: $brandBlack;
  text-transform: uppercase;
  display: inline-block;
}

.site-header span {
  display: block;
  line-height: 1em;
}

.site-header span:first-child {
  font-size: 1em;
  font-weight: 400;
}

.site-header span:last-child {
  color: $brandOrange;
  font-size: 1.5em;
  font-weight: 800;
}

.site-header h2 {
  background-color: $brandWhite;
  border: 2px solid $brandDarkBlue;
  color: $brandDarkBlue;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.5rem;
}

footer {
  background: $brandDarkBlue;
  color: $brandWhite;
  padding: 40px;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: $brandWhite;
  font-family: "Noto Serif", serif;
}

.page-content {
  max-width: 1200px;
  margin: 20px auto 80px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.flex-double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .flex-column {
    flex: 1;
  }

  .flex-double-column {
    flex: 2;
  }
}
